* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.contain {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  padding: 50px;
}

.sidebar {
  position: fixed;
  background: rgb(0, 91, 136);
  font-weight: 600;
  color: #fff;
  height: 100vh;
  transition: all 0.5s;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  margin-bottom: 100px;
}

.bars {
  display: flex;
  font-size: 15px;
  margin-left: 50px;
}

.link {
  display: flex;
  color: #fff;
  padding: 6px;
  margin: 30px 10px;
  gap: 15px;
  transition: all 0.5s;
}

.link:hover {
  background: rgba(144, 207, 236, 0.856);
  color: #000;
  transition: all 0.5s;
}

.active {
  background: rgba(144, 207, 236, 0.856);
  color: #000;
}

.icon,
.link_text {
  font-size: 18px;
}